*
{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;

}


#main
{
    width:100%;
    height: auto;
    color: black;
}

#hero
{
   width: 100%;
   height: 100vh;
   background-color: black;
   color: white;

}

#minicircle
{
    width: 11px;
    transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
    height: 11px;
    z-index: 99999;
    border-radius:50%;
    background-color:#fff;

}


.bounding
{
    width: fit-content;
    overflow: hidden;
}

.bounding .boundingelem{
    transform: translateY(100%);
}


#nav
{
    width: 100%;
    padding: 20px 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}

#nav a
{
  color: white;
  text-decoration: none;
  font-size: 18px;
}

#heading
{
    margin-top: 90px;
}

#heading h1
{
    opacity: .8;
    margin-left: 30px;
    margin-top: 10px;
    line-height: 1;
    padding-bottom: 1vw;
    font-size: 10vw;
    color: rgba(168, 168, 168, 0.946);
}

#heading #secondh1
{
    margin-left:230px;

}

.blocktext
{
    width: fit-content;
    flex-direction: column;
    display: flex;
    align-items: end;

}

.blocktext h5
{
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 15px;
    text-align: right;
}

#chotiheadings h5
{
    margin-top: -.2vw;
    text-transform: capitalize;
    text-align: right;
    flex-direction: column;
    align-items: center;
    padding-right: 10px;
    font-size: 1.3vw;
    padding: 1.5px;
    display: flex;

    justify-content: center;
    

}

#herofooter
{
    
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3%;
    position: absolute;
    bottom: 3%;


}



#herofooter a
{
   color:white;
   text-transform: uppercase;
   text-decoration: none;
}

#herofooter #iconset
{
    display: flex;
}

#herofooter .circle
{
    width: 20px;
    height: 20px;
    margin: 2px;
    border-radius: 50%;
    display: flex;
    margin-right: 10px;
    background-color: #888;
    justify-content: center;
    align-items: center;

}


#second
{
    width: 100%;
    padding-right: 10vw;
    padding-top: 200px;
    background-color: black;
    height: 100vh;
    color: white;
}

.elem
{
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    padding: 3.5vw 3vw;
    padding-right: 0;
    justify-content: space-between;
    border-top: 1px solid #888;
}

.elem h1
{
    text-transform: uppercase;
    font-size: 7.6vw;
    opacity: .7;
}

.elemlast
{
   border-bottom: 1px solid #888; 
}

.elem img{
    z-index: 99999;
    position: absolute;
    opacity: 0;
    display: flex;
    padding-bottom: 2px;
    width: 300px;
    height: 200px;
}

#about
{
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding-top: 400px;
}

#textabout
{
    width: 25rem;
}

#textabout h5
{
    opacity: .7;
    text-transform: uppercase;
    margin-top: 3050;
    margin-left: 50px;
}

#textabout p
{
    line-height: 1.7;
    margin-top: 10px;
    margin-bottom: 1vw;
    margin-left: 50px;
}


#about img
{
    width: 400px;
    padding: 10px;
    border-radius: 10%;
    border-color: black;
    margin-top: -30px;
    margin-left:20px ;
    margin-right: 0;
}

#textabout a
{
  padding: 12px 12px;
  border: 1px solid #fff;
  border-radius: 100px;
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  margin-bottom: 30vw;
  margin-left: 5vw;
}


#subscribe
{
    background-color: black;
    color: #fff;
    padding-bottom: 10vw;
    padding: 20px 30px;
}

#subscribe h5
{
text-transform: uppercase;
opacity: .5;
}
 

#subscribe h3{

    text-transform: uppercase;
    font-size: 14px;
    margin-top: 10px;

}


#footer
{

background-color: black;
color: #fff;
justify-content: space-between;
display: flex;
align-items: center;
padding: 20px 30px;

}


#footerright
{
    display: flex;
    gap: 30px;
}

#footerleft
{
    display:flex;
    gap: 20px;
}



#footer a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

